@import './vars';
@import './elements';

body{
  background-color: $bg;
}
.App {
  min-height: 100vh;
  min-width: 100vw;
  color: $font;

}

.App-header {
  margin: 20px;
  font-size: calc(1.8em + 1vh);

}

.modules{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // height: 85vh;
  // margin: 0 auto;
  // margin-right: 12px;
  // margin-top: 12px;
}

.modules > *{
  // display: flex;
  // flex-flow: column;
  justify-content: space-evenly;
  width: auto;
	grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

}

.row{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.row > *{
  flex: 1;
  // padding: 5px;
}

.module{
  text-align: center;
  padding: 5px;
}

.module-header{
  font-size: 1.8em;
  margin: 0px;
}

.LED{
  font-kerning: 0;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: $font;
}

div.BUS{
  justify-content: flex-start;
  border: 3px solid $fg;
  border-radius: 10px;
  margin: 1px;
}

.clock{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.clock > *{
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.CW{
  flex-wrap: 1;
  width: 40vw;
}
