// file for general styling

@import './vars';
@import './elements';

body{
  background-color: $bg;
}

.App {
  min-width: 100vw;
  color: $font;
}

a{
  color: $font;
  text-decoration: none;
}

.App-header {
  display: flex;
  margin: 20px;
  font-size: calc(1.8em + 1vh);
}

.modules{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  // margin-right: 12px;
  // margin-top: 12px;
}
.module-column{
  display: grid;
  height: 100%;
  justify-content: center;
}

.module-header{
  font-size: 1.8em;
  margin: 10px 0 0 0;
  text-align: center;
}

.module-header:hover{
  cursor: default;
}

.module{
  text-align: center;
  // padding: 5px;
}

.row{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.row > *{
  flex: 1;
  // padding: 5px;
}
