@import './vars';
@import './inputs';

.App {
  background-color: $bg;
  min-height: 100vh;
  min-width: 100vw;
  color: $font;
  display: flex;
  flex-direction: column;

}

.App-header {
  margin: 20px;
  font-size: 4vh;

}

.Modules{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  height: 85vh;
}

.Modules > *{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.row{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
.row > *{
  flex: 1;
  padding: 5px;
}

.module{
  text-align: center;
}

.module-header{
  font-size: 1.8em;
  margin: 0px;
}

.LED{
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: $font;
}

div.BUS{
  justify-content: flex-start;
  margin: 1px;
}

.clock{
  text-align: center;
}

.clockMode{
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.CW{
  flex-wrap: 1;
  width: 40vw;
}
