// file for styling specific elements

@import './vars';

.LED{
  font-family: "monospace";
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: $font;
}
.LED:hover{
  cursor: default;
}
.LED-label{
  position: absolute;
  display: inline-grid;
}

.clock{
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.clockMode{
  display: flex;
  justify-content: center;
}

.slider{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.slider > *{
  display: flex;
  justify-content: center;
}
.slider > svg{
  margin-top: 1px;
}
.slider > span {
  margin: 5px 10px 0 15px;
}

.memory{
  display: flex;
  flex-flow: column;
  margin: 0;
}

div.BUS{
  border-left: 3px solid $fg;
  border-right: 3px solid $fg;
  padding: 25px;
}

.flags{
  position: relative;
  margin-bottom: 10px;
}

.flags-label{
  position: absolute;
  font-size: 1.3em;
  top: 1.5em;
  left: 0;
  right: 0;
}

#interrupt-flags .LED{
  position: relative;
  letter-spacing: 1em;
  left: 0.5em;
}

#interrupt-flags .flags-label > *{
  margin: 0.30em;
}

#CW{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.cb{
  position: relative;
}
.cb:hover{
  cursor: default;
}
.cb-label{
  font-size: 1em;
  display: block;
  position: absolute;
  top: 1.9em;
  left: 0;
  right: 0;
}

.LCD{
  border: 0.4em solid #1F562F;
  border-radius: 2px;
  background: $lcd_bg;
  text-align: center;
}

.LCD-row{
  margin-left: 0.6em;
  margin-right: 0.6em;
  margin-bottom: 0.2em;
  height: 1.1em;
  // width: 4em;

  font-size: 1.5em;
  text-align: left;
  font-family: "LCD dot matrix", "monospace";
  color: white;
}

.cursor{
  content: "";
  display: inline-block;
  height: 1em;
  width: 0.5em;
  background: white;
}

.blinking{
  animation: 2s steps(2) 0s infinite blink;
}

@keyframes blink{
  from {
    content: "";
    display: inline-block;
    height: 1em;
    width: 0.5em;
    background: white;
  }
  to {
    background: $lcd_bg;
    display: none;
  }
}
