@import './vars';

input{
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 10px solid $fg;
    background: $fg;
    color: $font;
}

input:hover{
    cursor: pointer;
    border: 10px solid $fg_alt;
    background: $fg_alt;
}
input:active{
  border: 10px solid $bg_alt;
  background: $bg_alt;
}

input:disabled{
    cursor: default;
    color: $font_alt;
    border: 10px solid $bg_alt;
    background: $bg_alt;
}
.clockMode{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    text-align: center;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

.checkbox input{
  visibility: hidden;
}
.checkmark{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
}
.checkmark {
  fill: $fg;
  width: 60px;
  height: 40px;
  padding: 1px;
  background: #161620;
  border-radius: 5px;

}

.checkbox:hover input ~.checkmark{
  fill: $fg_alt;
}

// cursor in held down on the checkbox
.checkbox input:active ~.checkmark{
  fill: $fg;
}

// active checkbox background
.checkbox input:checked ~.checkmark{
  fill: $active;
}


.checkmark:after{
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~.checkmark:after{
  display: block;
  align-content: center;
  // left: 8px;
  // bottom: 5px;
  width: 32px;
  height: 32px;
  // border: solid white;
  // border-width: 0 4px 4px 0;
  // -webkit-transform: rotate(45deg);
  // -ms-transform: rotate(45deg);
  // transform: rotate(45deg);
}

.checkbox label:after {
}

@keyframes pop-in {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.3); }
}
@keyframes pop-out {
  0% { opacity:1; }
  75% {opacity:0; }
  100% { transform: scale(0.7); }
}
