.token.comment {
	color: #6f705e;
}

.token.number {
	color: #a77afe;
}

.token.string {
	color: #e6d06c;
}

.token.register {
	color: #a6e22d;
}


.token.keyword {
	color: #ef3b7d;
}

.token.section {
	color: #76d9e6;
}

.token.variable {
	color: #fff;
}

.token.pointer {
	color: #bebec5;
}

.token.entity {
	cursor: help;
}

.token.italic {
	font-style: italic;
}
